.table-cell {
  background-color: white;
  font-size: 16px;
  height: 60px;
  text-align: center;
}

.photo {
  border-radius: 50%;
  height: 34px;
  width: 34px;
}

.arrow-icon {
  height: 32px;
  width: 32px;
}

.collapse {
  background-color: rgb(220, 219, 219);
  font-size: 16px;
  height: 30px;
  text-align: center;
  width: 100%;
}

.cell-key {
  padding-right: 1%;
  text-align: end;
  width: 50%;
}

.cell-value {
  padding-left: 1%;
  text-align: start;
  width: 50%;
}
