@media only screen and (max-width: 991px) {
  .heading {
    color: #1C1C1C;
    font-family: Roboto , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 3%;
  }
}

@media only screen and (min-width: 992px) {
  .heading {
    color: #1C1C1C;
    font-family: Roboto , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}