@media only screen and (max-width: 991px) {
  .input {
    background-image: url('../assets/search-icon.svg');
    background-color: white;
    background-position: 96%;
    background-repeat: no-repeat;
    border: #DFDFDF 3px solid;
    border-radius: 8px;
    height: 48px;
    padding-left: 4%;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
  }
  
  .input::placeholder {
    color: #9E9E9E;
    font-family: Roboto , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  
  .input:focus {
    outline: none;
  }
}

@media only screen and (min-width: 992px) {
  .input {
    background-image: url('../assets/search-icon.svg');
    background-color: white;
    background-position: 96%;
    background-repeat: no-repeat;
    border: #DFDFDF 3px solid;
    border-radius: 8px;
    height: 48px;
    padding-left: 1%;
    width: 35%;
  }
  
  .input::placeholder {
    color: #9E9E9E;
    font-family: Roboto , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  .input:focus {
    outline: none;
  }
}

