.input-container {
  height: 48px;
  justify-items: end;
  margin-left: 5%;
  margin-top: 3%;
  width: 90%;
}

.input {
  background-image: url('../assets/search-icon.svg');
  background-position: 96%;
  background-repeat: no-repeat;
  border: #DFDFDF 1px solid;
  border-radius: 8px;
  height: 48px;
  padding-left: 4%;
  width: 100%;
}

.input::placeholder {
  color: #9E9E9E;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
