@media only screen and (max-width: 991px) {
  .header-logo {
    background-color: white;
    height: 34px;
    margin-left: 5%;
    width: 44px;
  }
}

@media only screen and (min-width: 992px) {
  .header-logo {
    background-color: white;
    height: 34px;
    margin-left: 2%;
    width: 44px;
  }
}

.header-container {
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 24px -3px rgba(0,0,0,0.34);
  display: flex;
  height: 60px;
  width: 100%;
}


