.outter-container {
  align-items: center;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header-container {
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 24px -3px rgba(0,0,0,0.34);
  display: flex;
  height: 60px;
  max-width: 100vw;
  width: 100%;
}

.header-logo {
  height: 34px;
  margin-left: 2%;
  width: 44px;
}

.heading {
  color: #1C1C1C;
  font-family: Roboto , sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-left: 5%;
  margin-top: 3%;
}

